@import "../reset";
@import "../colors";
@import "../layout";
@import "../type";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ffffff;
}

::-moz-selection {
	background: rgba(0,0,0,0.3);
}

.clear {
  clear: both;
  height: 1px;
  width: 100%;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
}

td {
  border: 1px solid #000;
  padding: 5px;
  text-align: left;
  font-size: 10px;
}

input {
  width: 80%;
}

