#footer {
  text-align: center;
  padding-top: 0px;
  background-color: black;
  padding: 10px 0px 10px 0px;
  a {
    color: white;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    margin: 20px;
  }
}
