#footer
  %ul
    %li
      %a{:href=>'/facility_rules'} Facility Rules
    %li
      %a{:href=>'/network_rules'} Network Usage Rules
    %li
      %a{:href=>'/terms_of_service'} Terms of Service
    %li
      %a{:href=>'/privacy_policy'} Privacy Policy
