.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href=>"/"} THE 404
      %a.btn{:href=>"/about"} About
      %a.btn{:href=>"/facility"} The Space
      %a.btn{:href => '/gallery'} Gallery
      %a.btn{:href=>"/memberships"} Memberships
      %a.btn{:href=>"/events/calendar"} Events
