$white:             #FFFFFF;
$black:             #000000;
$md_gray:           #434343;
$ltr_gray:          #f9f9f9;
$lt_gray:           #efefef;
$dk_gray:           #333333;
$dk_blue:           #033766;
$baby_blue:         #94bee4;
$lt_blue:           #e8f4ff;
$gray:              #999999;
$rg_text:           #c3c3c3;
$rg_text_selected:  #bfbfbf;
$sea_mist:          #29a7a6;
$rad_fuschia:       #ff047a;
$nav_gray:          #5b5b5b;
$bg_gray:           #e3e4e6;
$pink:              #ffe5e5;
$red:               #FF321E;
