@import "reset";
@import "colors";
@import "layout";
@import "type";

@import "calendar";
@import "registration";
@import "new_event";


html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ffffff;
}

::-moz-selection {
	background: rgba(0,0,0,0);
}

.clear {
  clear: both;
  height: 1px;
  width: 100%;
}



