- content_for :title do
  %title= "The 404 Facility Rules"

- content_for :body do
  #about
    = haml_partial :navbar
                    
    #display.container
      .row
        .span8.offset1.hero-unit
          .hero-unit
            %h2 Facility Rules
            %p The following list of rules governs the behavior of all The 404 members, clients, guests, and event attendees, hereinafter referred to as Users. These rules have been put in place to assure that everyone can benefit from The 404 services. Some rules are enforced as part of the lease of The 404 facility. The 404 reserves the right to update these rules at any time. Revisions to these rules will be publicly posted. Violation of any of the rules can result in immediate termination of membership and access to all services at The 404 including access to the property. 
            %ul
              %li Users may not restrict or inhibit any other user from quietly using and enjoying services of The 404. 
              %li Users are expected to limit their usage of services to reasonable levels that do not restrict or inhibit any other User from use of services. 
              %li Users may not defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others. Foul or injurious language is not permitted at any time. 
              %li All doors, when not in use, shall remain closed. Users shall not block doors open or unlock locked doors or windows.
              %li Users shall not use the Premises for lodging or sleeping.  
              %li Smoking is not permitted anywhere inside the Building. 
              %li Users may not loiter near sidewalks, parking lots, entrances, passageways, courts, corridors, vestibules, halls, elevators and stairways in or about the Building. 
              %li Canvassing, soliciting and peddling in or about the Building or Property is prohibited. 
              %li Sidewalks, entrances, passageways, courts, corridors, vestibules, halls, elevators and stairways in and about the Building shall not be obstructed nor shall objects be placed against the glass partitions, doors, or windows which would be unsightly from the Building's corridors from the exterior of the Building. 
              %li Plumbing, fixtures and appliances shall be used for only the purpose for which they were designed and no foreign substance of any kind whatsoever shall be thrown or placed therein. Damage resulting to any such fixtures or appliances from misuse by User shall be paid for by User and The 404 shall not be responsible therefore. 
              %li All vehicles parked in the parking lot must be licensed, in good operating condition, parked within designated spaces, one vehicle to each space. No vehicle shall be parked as a billboard vehicle in the parking lot. Any vehicle parked improperly may be booted and towed away at the owner's expenses. User shall hold harmless The 404 of any liability arising from the towing or booting of any of Users vehicles. 
              %li Users are responsible for cleaning up after themselves in all areas including in all shared spaces. All trash shall be deposited in the appropriate trash receptacles. Users must take bulk trash out to the dumpster in the alley. 
              %li The 404 coworking members are permitted to bring guests and clients onsite for the purposes of meetings to be held in the board room or conference room. Guests may not use the other facilities without The 404 permission. Guests must be accompanied by a User at all times. Guests are bound by all the same rules as Users. The supervising User is responsible for the actions of their guests at all times and are responsible for the consequences of guest actions. 
              %li Users assume all knowledge of applicable law and are responsible for compliance with any such laws. Users may not use The 404 websites, servers or network in any way that violates applicable state, federal, or international laws, regulations or other government requirements. Users further agrees not to transmit any material that encourages conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national, or international law or regulation. 
              %li Alcohol may be consumed on the Premises only with the permission of The 404. Under no circumstances will any individual that is visibly drunk be permitted to remain on the Property. 
              %li No physical fighting is allowed. 
              %li Firearms, knives or other weapons are not allowed on the property without permission of The 404. 
              %li User accounts must be paid up, with no amount overdue.