- content_for :title do
  %title= "The 404 Network and Internet Usage Rules"

- content_for :body do
  #about
    = haml_partial :navbar
                    
    #display.container
      .row
        .span8.offset1.hero-unit
          .hero-unit
            %h2 Network and Internet Usage Rules
            %ul
              %li Network and Internet Services are provided at The 404 for the use and enjoyment of The 404 Members, Guests and Event Attendees. Bandwidth for certain Services and users may be limited or restricted from time to time. Because of the variability of network usage and factors outside of our control, we cannot assure the quality or availability of network services. However, we will do our best to assure that all Members, Guests and Event Attendees have sufficient access to the Internet through the network. 
              %li Wireless access is by nature an insecure medium. Any information being sent or received over The 404 wireless network could potentially be intercepted by another wireless user. Anyone using the wireless network is forewarned that there should be a reduced expectation of privacy when using the wireless network. Members assume all associated risks and agree to hold harmless The 404 and its employees for any personal information that is compromised, or for any damage caused to any hardware or software. 
              %li High volume data transfers, especially sustained high volume data transfers, are prohibited without permission of The 404. 
              %li No wireless access points are to be placed in use on The 404 Premise without explicit permission of The 404. 
              %li Hosting a server without The 404 permission is prohibited. 
              %li All computers or other networked devices shall have up-to-date software sufficient to protect against viruses, malware, backdoors or other malicious software. 
              %li Any use of the network that violates confidentiality, trade secret, or copyrights is prohibited. 
              %li Access using the network any material that is obscene, child pornography, or sexually explicit is strictly prohibited. 
              %li Publishing, posting, uploading, distributing or disseminating any inappropriate, profane, defamatory, obscene, indecent or unlawful topic, name, material or information is prohibited 
              %li Use, reception, and distribution of any material or information, including but not limited to documents, images, photographs or music, which are made available through the Services in any manner that infringes any copyright, trademark, patent, trade secret, or other proprietary right of any party is prohibited. 
              %li Harvesting, monitoring, or collecting information about other Members or their network usage, including email addresses, without the authorization and consent of the member is prohibited. 
              %li Any use of the network which may cause harm or damage to any property or systems is prohibited. Prohibited uses include but are not limited to downloading or transmitting a "worm," "virus," "trojan horse," "time bomb" or other harmful form of program or vandalism. 
              %li Adding, removing or modifying identifying network, message, packet or article header information in an effort to deceive or mislead is prohibited. Attempting to impersonate any person or hide one's identity by using forged headers or other techniques is prohibited. 
              %li Unauthorized access or other unlawful uses of The 404 network or equipment is prohibited. Obtaining or attempting to obtain unauthorized access to computers, networks, sites, or information systems, including hacking, credit card or retail fraud, or any other unlawful uses or activities is prohibited. 
              %li Using the Services for any activity which adversely affects the ability of other people or systems to use Services or the Internet is prohibited. This includes excessive consumption of network or system resources whether intentional or unintentional. This also includes "denial of service" (DoS%li attacks against another network host or individual user. Interference with or disruption of other network users, network services or network equipment is prohibited. It is the users's responsibility to ensure that their system is configured, operated, and used in a manner to avoid excessive consumption of network or system resources. It is the users's responsibility to ensure that their system is configured in a secure manner. A user may not, through action or inaction, allow others to use their system for illegal or inappropriate actions. A user may not permit their system, through action or inaction, to be configured in such a way that gives a third party the capability to use their system in an illegal or inappropriate manner. 
              %li Using the Services to transmit any material (by email, uploading, posting, or otherwise%li that threatens or encourages bodily harm or destruction of property is prohibited. 
              %li Using the Services to transmit any unsolicited commercial email or unsolicited bulk email is prohibited. Activities that have the effect of facilitating unsolicited commercial email or unsolicited bulk email, whether or not that email is commercial in nature, are prohibited. 