- content_for :body do
  #about
    = haml_partial :navbar

    #display.container
      .row
        .span8.offset1.hero-unit
          .hero-unit
            %h2 The 404 Privacy Policy
          
            %p Updated January 15, 2012
          
            %p 
              Privacy is important to us. To better protect the privacy of our clients and other website visitors
              (herein collectivelyreferred to as Users) we provide this notice explaining our information practices. 
              This privacy policy tells you how we collect, use and distribute information. These practices may be 
              changed, but any changes will be posted and changes will only apply to activities and information on 
              a going forward, not retroactive basis.
          
            %p 
              Collection of Submitted Information - As part of our services, website, or other function, we may 
              collect personally identifiable information from Users, including, but not limited to, names, postal 
              addresses, email addresses, phone numbers, as well as shipping and payment information. When you send
              us email or other communications, we retain those communications.
          
            %p 
              Tracking Technology - We use tracking technology to monitor the use of all our services and products.
              This technology is used for gathering information useful for determining the usage patterns of 
              our products and services with the goal of supporting and improving our products and services.
              
            %p 
              Distribution of Information - We may share information with governmental agencies or other companies 
              assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; 
              or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, 
              (3) investigating fraud which has already taken place. The information is not provided to these companies 
              for marketing purposes.
          
            %p 
              Usage of Collected Information - Information collected will be used to monitor and improve our 
              products and services. We will use this information to assure the security of information and 
              property. We will never use or share the personally identifiable information in ways unrelated 
              to the ones described above without also providing you an opportunity to opt-out or otherwise 
              prohibit such unrelated uses. 
          
            %p 
              Commitment to Data Security - We will strive to keep your personally identifiable information secure. 
              To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, 
              we have put in place appropriate physical, electronic, and managerial procedures to safeguard and 
              secure the information we collect online. Only The 404, LLC owners, authorized employees, agents, 
              contractors, or affiliated service providers have access to this information.
          
            %p Questions or suggestions related to this privacy policy may be directed to:

            %p privacy@self_service_kiosk.com, Privacy, 704 W Sheridan Ave, Oklahoma City, OK, 73102

        
