- content_for :body do
  #about
    = haml_partial :navbar

    #display.container
      .row
        .span8.offset1.hero-unit
          .hero-unit
            %h2 The 404 Terms of Service

                        
            %h3 The Lounge
            %p
            The social area is at the center of the okcCoCo and is furnished with couches, chairs
            and coffee tables. The social area is available to all members, day pass visitors and event
            attendees. In this area, members may both socialize and work, as desired. Members may make
            and receive phone calls in this area but should be respectful of the overall noise level,
            keeping it to a conversational level.
                                    

            %h3 The 404 Conference Room
            %p The conference room, Suite, is furnished with a conference table and chairs. The
            conference room is intended for meetings, discussions, work or to take phone calls. The
            conference room door must be closed when in use to limit noise. All members, except those
            with a Basic Membership, will have access to the conference room on a first-come first-served
            basis. Members who are on the flex 12 day per month membership or better have
            priority usage of the conference room and may reserve the conference room for up to two
            hours per day, at most three times per week. Special requests for longer reservations may be
            made with okcCoCo staff. The conference room may also be reserved by anyone for a fee.
            
                                    
            %h3 Work Desk Area
            %p
            The coworking area is furnished with large desks and chairs suitable for daily work. 
            All members, except those with a Basic Membership, have access to use this area. 
            Desks are available on a first-come first-served basis and may be used for the entire 
            duration of the day during business hours. Members on a day pass or flex plan have 
            priority on usage of the coworking area. All other members may be bumped from the 
            coworking area in the case of high demand by flex plan members or day pass members.

            %p The Fixed Desk Area is located in the Secured Area. The fixed desk area is configured
            as a shared workspace with a number of individual workspaces delineated as suites. Each
            suite in the Fixed Desk Area is furnished with tables, chairs, and a lockable filing cabinet.
            Members who reserve a suite in this area may leave personal items in their suite. No Member
            other than the member who has reserved a given suite in the Fixed Desk Area shall enter or
            otherwise disturb, use or remove the furniture or personal belongings in that suite.
            

            %h3 Offices
            %p
            Offices are located in the Secured Area and in the lower level. Offices are provided
            unfurnished. Furniture and personal items may be placed in the offices. No Member other
            than the member(s) listed on the Reserved Area Agreement shall enter or otherwise disturb,
            use or remove the furniture or personal belongings in that suite. Trash in cans set outside the
            door of an office will be picked up each morning. Office doors should be kept shut when the
            occupant(s) are having a conversation, answering a phone call, or otherwise creating any
            noise that might disturb people outside of their office.


            %h3 Internet
            %p
            Access to the Internet is provided to all members, but requires a computer with
            802.11b, g, or n wireless support. Flex Members will be required to log in to a portal to gain
            access to the Internet. Fixed Monthly memberships and better have access to a secured,
            encrypted, private wireless network as well as hard wired ethernet connections. Unencrypted
            Internet access on that is bandwidth throttled is available to all guests.
                            


